$button-color: #81F0BB;
.expense__form {

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2em;

        button {
            padding: 8px;
            border-radius: 4px;
            background-color: $button-color;
        }

        label, button {
            font-size: 16px;
        }

        input {
            margin-bottom: 1em;
        }
    }

}