$primary-color: #D91975;
$secondary-color: #636363;

.expenses__container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background: #F0F4F6;
    width: 100vw;
    min-height: 100vh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $secondary-color;

    .expense__header h1 {
        color: $primary-color;
    }
}
