$tertiary-color: #0427E3;
$quaternary-color: #F081B6;

.expenses__list {
    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        flex-direction: column;

        li:nth-child(odd) {
            background: #fff;
        }
    }

    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
        cursor: pointer;
    }

    li {
        display: flex;                   
        flex-direction: row;  
        justify-content: center;
        width: 100%;
        padding: 1em 0;
        vertical-align: middle;

        a {
            padding-left: 0.8em;
            text-decoration: none;
            color: $tertiary-color;

            &:visited {
                color: $quaternary-color;
            }
        }

        span {
            flex: 1; 
            white-space: nowrap;
        }

        :nth-child(3) {
            text-align: right; 
        }

    }
    
    &__filters {
        input {
            margin: 1em;
        }
    }

    @media only screen and (max-width: 728px) {
        ul {
            padding-right: 2em;
        }

        &__filters input {
            display: flex;
        }

        ul, &__filters {
            font-size: 12px;
        }
    }
}
