$tertiary-color: #0427E3;
$quaternary-color: #F081B6;

.expenses__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__filters {
        input {
            margin: 1em;
        }
    }

    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
        cursor: pointer;
    }

    li {
        padding-bottom: 0.5em;

        a {
            text-decoration: none;
            color: $tertiary-color;

            &:visited {
                color: $quaternary-color;
            }
        }

    }
}
